* 
{
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow: hidden;
}

.full-page
{
  height: 100vh;
  width: 100%;
  background: #e5ebf2;
  position: absolute;
}

.sub-page
{
  width: 100%;
  height: 400%;
  position: absolute;
  background-image: url(images/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Top Navbar */
.navbar {
  overflow: hidden;
  background-color: #09192a;
  }
  
.navbar a {
  float: left;
  font-size: 35px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
  .dropdown {
    float: right;
    overflow: hidden;
  }

  .dropdown i {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: white;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
   .dropdown:hover .dropbtn {
    background-color: #094687;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #09192a;
    min-width: 160px;
    box-shadow: 0px 18px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content a{
    float: none;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #428bca;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Side Navbar */
.navigation 
{
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    width: 250px;
    height: 100%;
    background: #09192a;
    transition: 0.5s;
}

.navigation ul 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li 
{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li a 
{
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    position: relative;
    display: block;
    text-decoration: none;
    color: #ffff;
    font-size: 17px;
}

.navigation a:hover {
    background-color: #428bca;
  }

.navigation i {
    padding-right: 10px;
  }

/* Header User */
.Header-User {
    font-size: 25px;
    padding-left: 300px;
    padding-top: 20px;
  }
  
  .Header-User h1 {
    color: #09192a;
  }
  
  .Header-User small {
    font-size: 30px;
    color: #96aabf;
  }

/* Main content */
.main {
    display: flex;
    font-size: 30px; /* Increased text to enable scrolling */
    justify-content: center;
    height: 100%;
    padding: 0px 10px;
}

.container {
    margin-right: 270px;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
}


/*reserve info*/
form .reserve-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.container form .reserve-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reserve-details .input-box input{
    height: 35px;
    width: 100%;
}

.reserve-details .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
}

.container div select{
    width: 100%;
    height: 35px;
    background: none;
    border: 1px solid #0a0a0a;
    color: rgb(0, 0, 0);
    outline: none;
    padding: 0px 0 3px 10px;
    margin-top: 0px;
}

form .reserve-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.container form .reserve-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reserve-details .input-box input{
    height: 35px;
    width: 100%;
}

.reserve-details .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box label {
  font-size: 15px;
}

/*button*/

.btn{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background: #428bca;
    border: 1px solid #1c3246;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 110px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}
  
.btn:hover span {
    padding-right: 25px;
}
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
}
