* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.full-page
{
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0);
    position: absolute;
}

.sub-page
{
    width: 100%;
    height: 400%;
    position: absolute;
    background-image: url(images/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav
{
    height: 80px;
    width: 100%;
}

label.logo
{
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul
{
    float: right;
    margin-right: 20px;
}

nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a 
{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
}

a:hover
{
    color: #ffde00;

}

.checkbtn
{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check
{
    display: none;
}

.row 
{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

@media (max-width: 952px) 
{
    label.logo
    {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a
    {
        font-size: 16px;
    }
}

@media (max-width: 858px)
{
    .checkbtn
    {
        display: block;
    }

    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-image: url(images/bg.png);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a
    {
        font-size: 20px;
    }

    #check:checked ~ ul
    {
        left: 0;
    }
}

.navigation 
{
    position: absolute;
    background-image: url(images/bg.png);
    z-index: 1;
    overflow-x: hidden;
    width: 200px;
    height: 100%;
    transition: 0.5s;
}

.navigation ul 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navigation ul li 
{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li a 
{
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    position: relative;
    display: block;
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
}

.navigation a:hover {
    background-color: #323232;
}

/* Main content */
.main {
    display: flex;
    font-size: 20px; /* Increased text to enable scrolling */
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 0px 10px;
}