*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body 
{
    min-height: 100vh;
}

.navigation 
{
    position: fixed;
    width: 240px;
    height: 100%;
    background: #373737;
    transition: 0.5s;
}

.navigation ul 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li 
{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li a 
{
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    display: block;
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
}

a.username:hover, a.username:active 
{
    color: #FFFF00;
}

a.home:hover, a.home:active 
{
    color: #FFFF00;
}

a.notification:hover, a.notification:active 
{
    color: #FFFF00;
}

a.inbox:hover, a.inbox:active 
{
    color: #FFFF00;
}

a.setting:hover, a.setting:active 
{
    color: #FFFF00;
}

.logo 
{
    padding-top: 20px;
    padding-left: 10px;
}


